#header-avatarImg {
    width: 60px;
    margin-right: 2.5px;
}

.header-menu-item {
    float: right;
}

.header-dropdown, .header-dropdown:hover {
    color: black;
}

#header-title {
    font-size: 24px;
    font-weight: 400;
}

.header-menu-item {
    font-size: 18px;
}

#vertical-nav-drawer-button {
    text-align: center;
    font-size: 18px;
    height: 100%;
    float: right;
    margin: 20px;
}

.vertical-dropdown-title {
    font-size: 24px;
    color: black;
}

.vertical-dropdown-link {
    font-size: 18px;
    display: block;
    color: black;
    padding: 15px;
}
